<%- include('../layouts/user-header') %>

    <section class="about">

        <h1 class="title">why choose us?</h1>

        <div class="row">

            <div class="image">
                <img src="/public/images/b1.jpeg" alt="">
            </div>

            <div class="content">
                <h3>Complete Solution Of Your Company Needs </h3>
                <p>AEON Security Solutions AEON Security Solutions is an Electronic Security Services
                    Provider that specialises in Electronic Security and CCTV Systems, Bulglar Alarm
                    Systems, Intercom Systems, Biometric Systems, Computer Sales Service, public
                    addressing & Home Automations. The company prides itself on complete projects
                    on time and on budget while exceeding quality standards. Existing clients include
                    local commercial enterprises, Large commercial chains, Shopping Centre's, Factories
                    Offices and Residences.
                    AEON Security Solutions can arrange service and maintenance agreements which are
                    individually tailored to meet the specific requirements of each client. The Company
                    comprises a team of highly trained technicians that provide round the clock breakdown
                    service.
                </p>
            </div>

        </div>

        <div class="icons-container">

            <div class="icons">
                <i class="fa fa-truck"></i>
                <h3>Fast delivery</h3>
            </div>

            <div class="icons">
                <i class="fa fa-box"></i>
                <h3>Safe packaging</h3>
            </div>

            <div class="icons">
                <i class="fa fa-credit-card"></i>
                <h3>easy payments</h3>
            </div>

            <div class="icons">
                <i class="fa fa-phone"></i>
                <h3>24 hrs support</h3>
            </div>
        </div>

    </section>


    <%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>